@import "article.css";
@import "rightpanel.css";

#page {
    display: flex;
    width: 960px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    font-family: Trebuchet MS, sans-serif;
    background-image: linear-gradient(white 15%, rgba(171, 204, 194, .8));
}

p,
h1,
h2,
h3,
img,
li,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/*HEADER START*/

#header {
    background: #DE542A;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    width: 960px;
}

#header #header-left {
    display: flex;
    align-items: flex-end;
}

#header #header-right {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    width: 300px;
    align-content: space-around;
}

#header-right #sign-in {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#header ul {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-bottom: .4em;
    margin-top: .4em;
    padding: 0;
}

#header-right li {
    margin-right: 1rem;
    margin-bottom: 0em;
}

#header h1,
h2 {
    margin-right: 1rem;
    margin-bottom: 0px;
    margin-block-end: 0em;
}

#header h1 {
    font-size: 48px;
}

#header h2 {
    font-size: 16px;
    margin-bottom: .4em;
}

#header li {
    text-decoration: underline;
}

li {
    list-style: none;
}

/*********** HEADER END *************/

#content {
    display: flex;
    padding-top: 20px;
    flex-flow: row;
}

#content h1,
#content h2 {
    margin-top: 0px;
}

#side-nav {
    display: flex;
    flex-flow: column;
    width: 120px;
    justify-content: flex-start;
    border-right: dashed;
    border-color: gray;
}

#side-nav h2 {
    font-variant: small-caps;
    font-size: 24px;
    font-weight: 100;
    color: #bbbbbb;
    margin-top: 0;
    padding-top: 0;
}

#side-nav ul,
#side-nav li {
    margin: 0;
    padding: 0;
}

#side-nav li {
    color: #1d0B6a;
    padding: .1em;
}

#side-nav li:hover {
    color: #DE542A;
}

#side-nav #cat-all {
    background: #e6e6e6;
    color: rgb(129, 129, 129);
}

#side-nav ul {}

/*********** SIDE NAV END *************/

.quiz {
    display: flex;
    flex-flow: column;
    width: 600px;
    padding-left: .5em;
    justify-content: center;
    align-items: center;
    /* margin-top: .5em; */
}

#quiz-panel {
    display: flex;
    flex-flow: column;
    width: 600px;
    padding-left: .5em;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
}


.quiz-header {
    margin-top: .5em;
}

.quiz-header .date {
    font-size: .875rem;
}

.quiz-header .title {
    font-size: 2.5rem;
}

.quiz-header .subtitle {
    font-size: 1.125rem;
    line-height: 1.15;
}

.quiz-header .author-panel {
    display: flex;
}

.quiz-header .tags,
.tags ul {
    display: flex;
    flex-flow: row;
    font-size: .875em;
}

.tags li {
    padding: .2em;
    background: #e6e6e6;
    margin-left: .2em;
    margin-right: .2em;
}

.tags li:not(.label):hover {
    padding: .2em;
    background: #de542a;
    margin-left: .2em;
    margin-right: .2em;
}

.tags .label {
    padding-left: 0;
    margin-left: 0;
    background: white;
}

.across-ad {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.across-ad {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    /* flex: 1; */
}

.across-ad p {
    font-size: 12px;
    font-variant: small-caps;
    font-weight: 100;
}

.across-ad img {
    width: 585px;
    height: 80px;
}

/*********** QUESTIONS ***********/

.question {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
}

form {
    display: flex;
    flex-flow: column;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
}

.question-title {
    flex: 1;
    justify-content: center;
    text-align: center;
    background-color: #1d0B6a;
    height: 150px;
    width: 400px;
    /* max-width: 98%; */
    color: white;
    margin-right: .2em;
    margin-left: .2em;
    margin-bottom: .5em;
    padding: .5em;
}


.answers {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    /* max-height: 250px; */
}


.answer-box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
    max-width: 50%;
    margin: .2em;
    padding: .2em;
    /* height: 150px;
    width: 150px; */
}

label:hover {
    box-shadow: 10px 10px 5px rgba(175, 203, 206, .5);
    transition: box-shadow .15s, opacity .15s, background-color .15s, color .15s;
    /* transform: translateZ(0); */
}

.answers img {
    /* display: block; */
    object-fit: cover;
    vertical-align: top;
    width: 125px;
    height: 125px;
    margin: .2em;
}

.answers label {
    display: flex;
    border: .5px solid;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 200px;
    width: 200px;
}

.answers p {
    text-align: center;
    padding: 1em;
}


/*********** MIDDLE PANEL END *************/

#right-panel {
    display: flex;
    flex-flow: column;
    width: 240px;
    border-left: dashed;
    border-color: gray;
    padding-left: .5em;
}

#right-panel h2 {
    font-variant: small-caps;
}

.topcat img {
    /* max-width: 98%; */
    height: 180px;
    width: 220px;
}

.topcat p {
    font-size: 12px;
}

/*********** ADS END *************/

#page {
    display: block;
}